html{
  z-index: 999;
  height: 100%;
  background: #08304b;
}

body {
  @extend html;
  min-width: 680px;
  font-family: 'Ubuntu', sans-serif;
}

#map-canvas {
  width: 100%;
  height: calc(100vh - 70px);
  top: 70px;
  margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}
