
.stageOne{
  display: none;
  position: relative;
  border: 2px solid black;
  min-height: 536px;
  min-width: 640px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 8;
  #selection-modal {
    display: none;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    /*bottom: 50%;
    right: 50%;*/
    /*text-align: center;*/
    min-height: 350px;
    width: 600px;
    background:  $modal-background;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px rgba(0,0,0,0.8);
    margin: 120px auto 0 auto;
    h1 {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 5px;
      font-size: 40px;
      font-weight: 700;
      padding: 4px;
      text-align: center;
      text-shadow: 2px 2px rgba(0,0,0,0.8);
      color: #f5f5f4;
    }
    ul {
      display: inline-block;
      margin-top: 30px;
      li {
        float: left;
        &.choice-blocks{
          height: 140px;
          width: 140px;
          margin: 0 24px;
          background-color: rgba(0,0,0,0);
          background-image: url("../images/question-mark-2.png");
          background-size: cover;
          background-repeat: no-repeat;
          border: 5px dashed #29254f;
          border-radius: 8px;
        }
        &.options-buttons {
          height: 50px;
          width: 155px;
          margin: 0 18px;
          border: 4px solid #29254f;
          &:hover{
            cursor: pointer;
          }
        }
        &#dinner {
          background-image: url("../images/dinner-button-small.png");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 8px;
        }
        &#drinks {
          background-image: url("../images/drinks-button-small.png");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 8px;
        }
        &#clear {
          background-image: url("../images/clear-button.png");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 8px;
        }
      }
    }
  }
  #proceed {
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px;
    text-align: center;
    color: #f5f5f5;
    font-size: 30px;
    width: 320px;
    text-shadow: 2px 2px #3b3d3d;
    background-color: rgba(13,8,47,0);
    border-radius: 8px;
    margin: 20px auto 0 auto;
    button {
      padding: 8px;
      padding-top: 11px;
      font-family: 'Josefin Sans', sans-serif;
      width: 320px;
      font-size: 30px;
      border-radius: 8px;
      border: 1px solid black;
      color: #f5f5f5;
      background-color: #1D174A;
      text-shadow: 2px 2px rgba(0,0,0,0.8);
      &:focus{
        outline: none;
      }
      &:hover{
        background-color: #3a295a;
        cursor: pointer;
      }
    }
  }
}
