.sidebar{
  display: none;
  height: 95%;
  width: 20%;
  left: -206px;
  background: linear-gradient( to top, rgba(89,96,129,0.2), rgba(13,12,50,1));
  z-index: 10;
  position: absolute;
  transition: all 0.5s ease;
  &.expanded{
    left: 0;
  }
  #expand {
    display: none;
    position: absolute;
    top: 10px;
    right: 5px;
    height: 35px;
    width: 40px;
    opacity: 0.8;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
  h1 {
    text-align: center;
    font-size: 30px;
    margin: 12px 0;
    color: #f5f5f5;
    text-shadow: 2px 2px rgba(0,0,0,0.8);
  }
  .venue-details {
    color: #f5f5f5;
    height: 91%;
    width: 100%;
    overflow-y: scroll;
    .img-sidebar{
      border-radius: 5px;
      border: 1px solid black;
      text-align: center;
      height: 150px;
      width: 245px;
      overflow: hidden;
      margin: 10px auto;
    }
  }
  .side-box {
    display: none;
    a {
      color: #3685B5;
      font-size: 16px;
    }
    p {
      font-size: 12px;
      margin: 5px 10px;
    }
    .sidebar-blurb {
      font-size: 14px;
    }
    h2 {
      margin: 10px 0;
      text-align: center;
      font-size: 12px;
      &.side-venue-name{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        text-shadow: 2px 2px rgba(0,0,0,0.8);
      }
    }
    hr {
      color: black;
      border: 1px solid rgba(0,0,0,0.7);
      margin: 10px 15px;
    }
  }
}
